/* Site-Wide */
mat-expansion-panel {
  background-color: rgba(0, 0, 0, 0.6);
  padding-top: 10px;
  color: white;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  vertical-align: middle;
  height: auto;
}
mat-expansion-panel-header {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.8cqb;
  height: auto;
}
mat-expansion-panel-header {
  background: transparent !important;
}
img {
  height: 70px;
  width: 70px;
}
table
{
  text-align: left;
  font-size: 1.8cqb;
  font-family: 'Times New Roman', Times, serif;
  border: none;
  color: white;
}
table:hover
{
  text-align: left;
  font-size: 1.8cqb;
  font-family: 'Times New Roman', Times, serif;
  border: none;
  color: black;
  border: 1px white;
}
/* Site-Wide */

#MatExpansionPanel_Table_Time
{
  font-size: 4cqb;
  text-align: center;
  vertical-align: middle;
  border: none;  
}
#MatExpansionPanel_Table_Value
{
  text-align: center;
  vertical-align: middle;
  border: none;  
}

#MatExpansionPanel_Table_Temperature
{
  font-size: 3cqb;
  text-align: center;  
  border: none; 
}
#MatExpansionPanel_Table_Expand
{
  border: 1px white;
}
#MatExpansionPanel_Dates {
color: white;
font-size: 3cqb;
padding-bottom: 5px;
padding-top: 5px;
text-align: left;
}
#MatExpansionPanel_Value {
 color: white;
 text-align: left;
}
#MatExpansionPanel_Average {
  vertical-align: middle;
  text-align: center;
  font-size: 4cqb;
  color: white;
}
#MatExpansionPanel_AverageLabel {
  font-size: 1.8cqb;
}
/* Mat-Expansion-Panel */
