<!-- Mat-Card-Search-Results-Hourly -->
<mat-card id="MatCardSearchResultsHourly">
    <mat-card-header>
      <mat-card-title id="MatCardSearchResultsHourly_Title"
        >Hourly Forecast</mat-card-title
      >
    </mat-card-header>
    <mat-card-content>
      <table
        class="table table-hover"
        id="MatCardSearchResultsHourly_Table"
      >
        <thead>
          <tr>
            <th>Time</th>
            <th>Temperature</th>
            <th>Weather</th>
            <th>Wind Speed</th>
          </tr>
        </thead>
        <tbody>
          <tr id="MatCardSearchResultsHourly_Temp">
            <th id="MatCardSearchResultsHourly_Temp">8:00 AM</th>
            <td id="MatCardSearchResultsHourly_Temp">20°C</td>
            <td id="MatCardSearchResultsHourly_Temp">Sunny</td>
            <td id="MatCardSearchResultsHourly_Temp">15 km/h</td>
          </tr>
          <tr id="MatCardSearchResultsHourly_Temp">
            <th id="MatCardSearchResultsHourly_Temp">9:00 AM</th>
            <td id="MatCardSearchResultsHourly_Temp">20°C</td>
            <td id="MatCardSearchResultsHourly_Temp">Sunny</td>
            <td id="MatCardSearchResultsHourly_Temp">15 km/h</td>
          </tr>
          <tr id="MatCardSearchResultsHourly_Temp">
            <th id="MatCardSearchResultsHourly_Temp">10:00 AM</th>
            <td id="MatCardSearchResultsHourly_Temp">20°C</td>
            <td id="MatCardSearchResultsHourly_Temp">Sunny</td>
            <td id="MatCardSearchResultsHourly_Temp">15 km/h</td>
          </tr>
          <tr id="MatCardSearchResultsHourly_Temp">
            <th id="MatCardSearchResultsHourly_Temp">11:00 AM</th>
            <td id="MatCardSearchResultsHourly_Temp">20°C</td>
            <td id="MatCardSearchResultsHourly_Temp">Sunny</td>
            <td id="MatCardSearchResultsHourly_Temp">15 km/h</td>
          </tr>
          <tr id="MatCardSearchResultsHourly_Temp">
            <th id="MatCardSearchResultsHourly_Temp">12:00 AM</th>
            <td id="MatCardSearchResultsHourly_Temp">20°C</td>
            <td id="MatCardSearchResultsHourly_Temp">Sunny</td>
            <td id="MatCardSearchResultsHourly_Temp">15 km/h</td>
          </tr>
        </tbody>
      </table>
    </mat-card-content>
  </mat-card>
  <!-- Mat-Card-Search-Results-Hourly -->